#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
:root {
  --gopher-width: 360px;
  --gopher-height: 533px;
  --gopher-color: #6AD6E3;
  --gopher-skin-color: #F6D2A0;
  --gopher-feet-rotation: 60deg;
  --gopher-paw-rotation: 80deg;
  --ear-size: 75px;
  --border-style: 3px solid black;
}

body {
  background-image: 
          repeating-linear-gradient(
              -45deg,
              #fff,
              #fff 20px,
              #b1e0ff 20px,
              #b1e0ff 40px
          )
  }

.gopher-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gopher-ears {
  width: calc(var(--gopher-width) + 20px);
  display: flex;
  justify-content: space-between;
  transform: translateY(115px);
}

.gopher-ear {
  width: var(--ear-size);
  height: var(--ear-size);
  background: var(--gopher-color);
  border-radius: 50%;
  border: var(--border-style);
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-ear {
  width: calc(var(--ear-size) * 0.5);
  height: calc(var(--ear-size) * 0.5);
  background: black;
  border-radius: 50%;
}

.gopher-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: var(--gopher-width);
  height: calc(var(--gopher-height) * 0.75);
  background: var(--gopher-color);
  border-radius: 42% 42% 0 0;
  border: var(--border-style);
  border-bottom: 0;
  z-index: 5;
}

.gopher-eyes {
  width: calc(var(--gopher-width) * 0.9);
  display: flex;
  justify-content: space-evenly;
  transform: translateY(42px);
}

.gopher-eye {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: white;
  border: var(--border-style);
  display: flex;
  align-items: center;
}

.gopher-pupil {
  width: 42px;
  height: 42px;
  background: black;
  border-radius: 50%;
  transform: translateX(10px);
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.gopher-shine {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: white;
  transform: translate(-8px, -8px);
}

.gopher-mouth {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateY(30px);
}

.gopher-nose {
  width: 55px;
  height: 30px;
  border-radius: 50%;
  border: var(--border-style);
  background-color: black;
  transform: rotate(-5deg);
  z-index: 5;
}

.gopher-lips {
  display: flex;
  align-items: center;
}

.gopher-lip {
  width: 50px;
  height: 30px;
  background-color: var(--gopher-skin-color);
  border: var(--border-style);
  transform: translateY(-10px);
  z-index: 3;
}

.gopher-lip.left {
  border-radius: 48% 0% 0% 48%;
  border-right: 0;
  transform: 
    translateY(-15px)  
    rotate(-32deg);
}

.gopher-lip.right {
  border-radius: 0% 48% 48% 0%;
  border-left: 0;
  transform:
  translateX(2px)
  translateY(-15px)
    rotate(25deg);
}

.gopher-teeth {
  display: flex;
  align-items: center;
}

.gopher-tooth {
  width: 30px;
  height: 50px;
  background-color: white;
  border: var(--border-style);
  border-radius: 0% 0% 60% 60%;
  transform: translateY(-40px);
}

.gopher-bottom {
  width: var(--gopher-width);
  height: calc(var(--gopher-height) * 0.45);
  background: var(--gopher-color);
  border-radius: 0 0 200% 200%;
  border: var(--border-style);
  border-top: 0;
  z-index: 5;
}

.gopher-feet {
  width: calc(var(--gopher-width) + 20px);
  display: flex;
  justify-content: space-between;
  transform: translateY(-160px);
}

.gopher-foot {
  width: 35px;
  height: var(--ear-size);
  background: var(--gopher-skin-color);
  border-radius: 80%;
  border: var(--border-style);
}

.gopher-foot.right {
  transform:
    rotate(calc(360deg - var(--gopher-feet-rotation)))
    translateX(-5px)
    translateY(-10px);
}

.gopher-foot.left {
  transform:
    rotate(var(--gopher-feet-rotation))
    translateX(-5px)
    translateY(-10px);
}

.gopher-paws {
  width: calc(var(--gopher-width) + 50px);
  display: flex;
  justify-content: space-between;
  transform: translateY(-350px);
}

.gopher-paw {
  width: 35px;
  height: var(--ear-size);
  background: var(--gopher-skin-color);
  border-radius: 80%;
  border: var(--border-style);
}

.gopher-paw.right {
  transform:
    rotate(calc(360deg - var(--gopher-paw-rotation)))
    translateX(20px);
}

.gopher-paw.left {
  transform:
    rotate(var(--gopher-paw-rotation))
    translateX(-20px);
}

.gopher-finger {
  width: 15px;
  height: 3px;
  background-color: black;
}

.gopher-finger.left {
  transform: translateY(67px)
  translateX(10px)
  rotate(-100deg);
}

.gopher-finger.right {
  transform: translateY(67px)
  translateX(10px)
  rotate(100deg);
}

.gopher-toe {
  width: 15px;
  height: 3px;
  background-color: black;
}


.gopher-toe.left {
  transform: translateY(67px)
  translateX(10px)
  rotate(-100deg);
}

.gopher-toe.right {
  transform: translateY(67px)
  translateX(10px)
  rotate(100deg);
}